@media screen and (max-width: 479px) {
  .modal {
    width: 90%;
    height: auto;
  }
  .mob-tel {
    font-size: 24px;
  }
  .mob-soc-list {
    gap: 24px;
  }
}
/*! --------------------------MOBILE-------------------------- */
@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .container.big-container {
    max-width: 428px;
  }
  .container.header-container {
    min-width: 428px;
    max-width: none;
  }
}
.section-work {
  padding: 0;
}
.work-container {
  display: none;
}
/*! --------------------------TABLET-------------------------- */
@media screen and (min-width: 768px) {
  .container {
    min-width: 552px;
    padding-left: 0;
    padding-right: 0;
  }
  .container.big-container {
    min-width: 736px;
    padding-left: 0;
    padding-right: 0;
  }
  .container.header-container {
    padding-top: 16px;
    padding-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
  }
  .menu-button {
    display: none;
  }
  .site-nav {
    display: flex;
  }
  .address-nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    justify-content: right;
  }
  .address-nav.link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
  }
  .mail.link {
    margin-bottom: 12px;
  }
  .header-navigation {
    justify-content: left;
  }
  .header-logo {
    margin-right: 120px;
  }
  .section {
    padding: 96px 108px;
  }
  .section.big-section {
    padding: 96px 16px;
  }
  .hero-section {
    background-size: cover;
    max-width: 1200px;
    background-image: var(--bg-gradient), url(../images/hero/hero-tab-1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--bg-gradient), url(../images/hero/hero-tab-2x.jpg);
    }
  }
  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
    width: 496px;
  }
  .section-subtitle-mob {
    text-align: left;
  }
  .feauters-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .features-item {
    width: calc((100% - 32px) / 2);
  }
  .section-work {
    padding: 0;
  }
  .work-container {
    display: none;
  }
  .team-item {
    width: calc (100% / 2);
  }
  .team-list {
    row-gap: 64px;
    column-gap: 24px;
    justify-content: normal;
  }
  .team-item:not(:last-child) {
    margin-bottom: 0;
  }
  .customers-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
  .customers-link {
    width: 168px;
    height: 88px;
  }
  .footer {
    padding: 96px 108px;
  }
  .footer-container {
    justify-content: left;
  }
  .footer-wrap {
    margin-left: 0;
    text-align: left;
    margin-right: 24px;
  }
  .form-title {
    text-align: left;
  }
  .footer-form-wrap {
    flex-wrap: nowrap;
    width: 453px;
    gap: 24px;
  }
  .footer-form {
    margin-left: 0;
    margin-right: auto;
  }
  .modal {
    width: 408px;
    height: 584px;
  }
}
/*! --------------------------PC-------------------------- */
@media screen and (min-width: 1200px) {
  .section {
    padding: 120px 0;
  }
  .section.big-section {
    padding: 120px 0;
  }
  .container.header-container {
    max-width: 1158px;
  }
  .container.big-container {
    min-width: 1158px;
  }
  .container {
    min-width: 1158px;
  }
  .header-container {
    align-items: center;
  }
  .header-logo {
    margin-right: 76px;
  }
  .header-navigation {
    display: flex;
    max-width: 50%;
  }
  .address-nav {
    display: flex;
  }
  .hero-section {
    background-image: var(--bg-gradient), url(../images/hero/hero-pc-1x.jpg);
    max-width: 1440px;
    padding: 188px 0;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--bg-gradient), url(../images/hero/hero-pc-2x.jpg);
    }
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
  .feauters-link {
    display: flex;
  }
  .feauter-text {
    font-weight: 400;
  }
  .feauters-list {
    gap: 24px;
    flex-wrap: nowrap;
  }
  .features-item {
    min-width: 264px;
  }
  .section-subtitle-mob {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-work {
    padding-top: 0;
  }
  .work-container {
    display: block;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }
  .team-list {
    gap: 24px;
    justify-content: center;
  }
  .feauters-list {
    justify-content: center;
  }
  .work-list {
    justify-content: center;
  }
  . .team-item {
    /* width: calc((100% - 72px) / 4); */
  }
  .team-item:not(:last-child) {
    margin-bottom: 0;
  }

  .customers-link {
    gap: 24px;
  }
  .customers-list {
    flex-wrap: nowrap;
  }
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
    justify-content: center;
  }
  .soc-title {
    text-align: left;
  }
  .footer-input {
    opacity: 1;
  }
  .footer-wrap {
    margin-right: 120px;
  }
  .footer-soc-wrap {
    margin-right: 80px;
  }
}
